# This file is needed for us to not publish any uneeded files

# Ignore .env files
*.env

# Ignore .exe files
*.exe

# Ignore tempcoderunnerfile.cpp files
*tempcoderunnerfile.cpp

# Ignore .log files inside the logs folder due to security risks and uneeded files
logs/*.log