# Ignore .env files to not publish any sensitive data
*.env

# Ignore .exe files as they will be generated automatically
*.exe

# Ignore all tempcoderunnerfile.? files
*tempcoderunnerfile.*
*tempCodeRunnerFile.*

# Ignore any possible .java or .class files
*.java
*.class

# Ignore all files inside the build folder
/src/build/*
/src/build/generated_assembly.asm

# Except for the INCLUDE, SOURCE, TOOLS, and logs directories
!/src/build/INCLUDE/
!/src/build/SOURCE/
!/src/build/TOOLS/
!/src/build/logs/

# Ignore .log files inside the logs folder due to security risks and uneeded files
/src/build/logs/*.log

# In case an output folder gets created when ran manually exclude that
/src/output
/src/output/*