# This file is needed for us to not publish any unneeded files

# Ignore .env files to not publish any sensitive data
*.env

# Ignore .exe files as they will be generated automatically
*.exe

# Ignore all tempcoderunnerfile.? files
*tempcoderunnerfile.*
*tempCodeRunnerFile.*

# Ignore .log files inside the logs folder due to security risks and uneeded files
./src/build/logs/*.log

# Ignore any possible .java or .class files
*.java
*.class

# Ignore all files inside the build folder
./src/build/*

# Except for the INCLUDE, SOURCE and TOOLS directories
!/src/build/INCLUDE/
!/src/build/SOURCE/
!/src/build/TOOLS/
!/src/build/logs/

# In case an output fodler gets created when ran manually exclude that
./src/output
./src/output/*